<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sebswebsdotnetcore</title>
    <base href="~/" />


</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
<!-- CSS
================================================== -->


<!-- Script
================================================== -->
<script src="~/js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>

<!-- Favicons
 ================================================== -->
<link rel="shortcut icon" href="~/favicon.png">